[submodule "ebpf"]
	path = ebpf
	url = https://github.com/cilium/ebpf
[submodule "libbpf-rs"]
	path = libbpf-rs
	url = https://github.com/libbpf/libbpf-rs
[submodule "libbpf"]
	path = libbpf
	url = https://github.com/libbpf/libbpf
